# Task - 1
ABC Technologies has four departments: HR, Finance,
IT, and Sales. The company wishes to allocate the
employee codes from the following:
● 1 to 500 to the employees of the HR department,
● 501 to 1000 to the employees of the Finance
department,
● 1001 to 1500 to the employees of the IT department,
and
● 1501 to 2000 to the employees of the Sales
department.
Help the company accomplish this task.

In [9]:
import numpy as np
hr = np.arange(1,501)
#print(hr)
fin = np.arange(501,1001)
#print(fin)
it = np.arange(1001,1501)
sale = np.arange(1501,2001)

# Task - 2
The annual salary of the HR department employees lies
between $25,000 and $50,000.The annual salary for the
Finance employees is 25% more than each employee of
the HR department. The annual salary of the
Sales employees is half of each employee of the Finance
department. The annual salary of the IT employees is
$5,000 more than each employee of the HR department.
Help the company to generate the salary for all employees
of each department.

In [10]:
hr_sal = np.random.randint(25000,50000,500)

#print(np.size(hr_sal))
fin_sal = hr_sal+(0.25*hr_sal)

print(hr_sal[0:11],fin_sal[0:11])

[48496 44399 40610 46979 47453 35477 43829 25979 27315 37371 39334] [60620.   55498.75 50762.5  58723.75 59316.25 44346.25 54786.25 32473.75
 34143.75 46713.75 49167.5 ]

In [11]:
sale_sal = fin_sal/2
print(sale_sal)

[30310.    27749.375 25381.25  29361.875 29658.125 22173.125 27393.125
 16236.875 17071.875 23356.875 24583.75  16678.75  18950.    28058.125
 30823.75  25830.625 22419.375 25561.875 28997.5   22737.5   20720.
 23760.    18707.5   30431.25  31107.5   30551.25  29180.625 18528.125
 27292.5   18219.375 17330.    17494.375 26125.    29131.875 30966.25
 29677.5   16621.25  27348.125 16642.5   26158.75  27290.625 22656.25
 24300.625 20316.25  18378.75  30742.5   16028.125 29062.5   24741.875
 18091.875 18544.375 31149.375 26752.5   18310.    28074.375 20591.875
 24599.375 26923.75  19195.    19176.25  20988.75  29299.375 15780.
 21396.875 23008.125 19523.75  28873.125 25298.75  26855.625 25539.375
 26713.125 30766.25  21201.25  29468.75  24005.625 27098.75  30533.75
 24289.375 16390.625 25002.5   30949.375 25375.    21011.875 24950.625
 29533.75  30355.    30433.125 28540.    23099.375 29399.375 24501.875
 22748.75  18545.    31166.875 27207.5   19146.875 19217.5   23951.875
 19843.125 27270.625 26587.5   21078.125 15821.875 21978.75  21456.875
 25986.875 30175.625 19478.125 29233.75  24280.625 19171.25  27080.
 22998.75  31025.    24585.    30766.25  20655.    17516.875 24111.25
 26501.875 20392.5   20734.375 25732.5   19638.75  29959.375 24171.875
 29648.75  16815.625 20281.25  17663.125 23131.25  17151.25  27451.875
 18829.375 17604.375 22083.125 16502.5   16919.375 24482.5   15831.25
 29390.    17622.5   15835.    22708.125 20076.875 20234.375 27710.625
 23874.375 16715.625 27111.25  23790.    23003.125 30573.75  22006.875
 30461.875 16536.875 26293.125 19867.5   25085.625 17706.875 29955.
 27103.125 31121.875 27153.125 22491.875 24131.25  16307.5   23735.
 27995.    19058.125 28183.75  27375.    26454.375 16149.375 20103.125
 17165.625 25594.375 23551.875 21283.125 28778.125 18711.875 31080.625
 24056.875 22887.5   28203.75  22322.5   22042.5   22892.5   16948.125
 20478.125 20813.75  28296.25  27722.5   23974.375 17028.75  23482.5
 17463.75  22362.5   29672.5   16422.5   27705.    17399.375 26499.375
 16767.5   22153.75  26473.75  22635.    19186.875 21215.    23706.25
 27959.375 16851.875 26701.25  16733.75  21393.125 23590.    22304.375
 28769.375 18541.875 22586.25  29274.375 30092.5   30994.375 22619.375
 31221.875 26613.125 25449.375 29165.625 22003.125 18133.75  21244.375
 18410.625 29273.75  21070.    21995.625 27411.25  30224.375 18717.5
 30240.625 21971.25  23786.875 22427.5   16433.75  20365.    23095.
 16951.875 28596.875 16542.5   17021.875 18973.125 17138.125 28323.125
 17850.    21557.5   28825.    20284.375 25701.875 31110.    29166.875
 30772.5   30179.375 27443.125 30274.375 27590.    20326.875 30370.625
 25092.5   30812.5   23295.    28350.625 21898.125 29508.75  28528.75
 15998.125 24316.875 30092.5   27128.75  25586.25  18084.375 18565.
 15802.5   21494.375 15705.625 30762.5   27987.5   26973.75  27630.
 23686.875 26446.25  26660.    18348.75  28263.75  27916.875 26297.5
 18010.    30140.    20588.125 17788.75  27424.375 19070.    18377.5
 19046.875 28158.75  20880.    22471.25  15780.625 15654.375 19603.125
 18735.625 18222.5   23978.75  26764.375 18752.5   24243.125 26720.
 19018.125 20123.125 30155.    28250.625 16477.5   20396.875 19888.75
 17715.625 28206.25  21979.375 29806.25  26555.    30538.75  23606.875
 26256.875 22837.5   15844.375 28057.5   23755.    19752.5   25118.125
 28322.5   24438.125 26483.125 21181.875 29691.875 17406.25  28108.125
 25277.5   18065.    18396.875 20501.25  27726.25  16237.5   19255.
 30533.125 31196.25  23753.125 23778.125 26939.375 17761.875 24669.375
 26459.375 28959.375 26130.625 28751.25  23732.5   30156.875 21646.25
 16087.5   27619.375 15702.5   21891.875 19522.5   19521.875 29411.25
 16813.125 20962.5   28326.875 27087.5   16678.125 20952.5   26261.875
 26245.    17283.125 21072.5   18844.375 21340.    18834.375 21558.125
 18251.25  22374.375 25501.25  21511.25  16350.625 30633.125 17762.5
 18956.875 18115.    19747.5   19117.5   21511.875 26322.5   16266.25
 20555.    27683.75  23831.25  20263.125 16220.625 16230.625 20678.75
 18407.5   25245.    29806.25  28621.875 17005.    21833.125 21495.625
 24939.375 24662.5   20990.    21162.5   20001.25  15963.75  26282.5
 16451.25  17778.75  21274.375 21388.125 29913.125 29546.875 27160.
 25580.    26310.    21092.5   23019.375 21435.    17365.625 23971.875
 21860.    17147.5   18052.5   16801.25  30714.375 29869.375 27085.625
 23188.125 24500.625 18878.125 26744.375 18463.125 20318.125 19623.125
 18950.625 25540.625 24255.625 25491.875 21960.625 22053.125 20226.875
 21601.875 24256.875 27906.25  26019.375 21685.625 26332.5   26631.25
 21198.125 30035.    23757.5   21094.375 15804.375 24923.75  30663.75
 26463.75  17645.    30043.125 25953.125 29945.    28720.    23265.625
 26196.25  19903.125 26322.5   28947.5   19389.375 25147.5   20068.125
 26616.875 27801.25  17220.625 30210.625 21233.125 27021.875 18983.125
 16076.25  27641.25  24230.625 25096.25  28236.875 24586.875 22751.875
 18960.625 28841.25  21152.5  ]

In [12]:
it_sal = np.add(hr_sal,5000)
print(it_sal)

[53496 49399 45610 51979 52453 40477 48829 30979 32315 42371 44334 31686
 35320 49893 54318 46329 40871 45899 51396 41380 38152 43016 34932 53690
 54772 53882 51689 34645 48668 34151 32728 32991 46800 51611 54546 52484
 31594 48757 31628 46854 48665 41250 43881 37506 34406 54188 30645 51500
 44587 33947 34671 54839 47804 34296 49919 37947 44359 48078 35712 35682
 38582 51879 30248 39235 41813 36238 51197 45478 47969 45863 47741 54226
 38922 52150 43409 48358 53854 43863 31225 45004 54519 45600 38619 44921
 52254 53568 53693 50664 41959 52039 44203 41398 34672 54867 48532 35635
 35748 43323 36749 48633 47540 38725 30315 40166 39331 46579 53281 36165
 51774 43849 35674 48328 41798 54640 44336 54226 38048 33027 43578 47403
 37628 38175 46172 36422 52935 43675 52438 31905 37450 33261 42010 32442
 48923 35127 33167 40333 31404 32071 44172 30330 52024 33196 30336 41333
 37123 37375 49337 43199 31745 48378 43064 41805 53918 40211 53739 31459
 47069 36788 45137 33331 52928 48365 54795 48445 40987 43610 31092 42976
 49792 35493 50094 48800 47327 30839 37165 32465 45951 42683 39053 51045
 34939 54729 43491 41620 50126 40716 40268 41628 32117 37765 38302 50274
 49356 43359 32246 42572 32942 40780 52476 31276 49328 32839 47399 31828
 40446 47358 41216 35699 38944 42930 49735 31963 47722 31774 39229 42744
 40687 51031 34667 41138 51839 53148 54591 41191 54955 47581 45719 51665
 40205 34014 38991 34457 51838 38712 40193 48858 53359 34948 53385 40154
 43059 40884 31294 37584 41952 32123 50755 31468 32235 35357 32421 50317
 33560 39492 51120 37455 46123 54776 51667 54236 53287 48909 53439 49144
 37523 53593 45148 54300 42272 50361 40037 52214 50646 30597 43907 53148
 48406 45938 33935 34704 30284 39391 30129 54220 49780 48158 49208 42899
 47314 47656 34358 50222 49667 47076 33816 53224 37941 33462 48879 35512
 34404 35475 50054 38408 40954 30249 30047 36365 34977 34156 43366 47823
 35004 43789 47752 35429 37197 53248 50201 31364 37635 36822 33345 50130
 40167 52690 47488 53862 42771 47011 41540 30351 49892 43008 36604 45189
 50316 44101 47373 38891 52507 32850 49973 45444 33904 34435 37802 49362
 30980 35808 53853 54914 43005 43045 48103 33419 44471 47335 51335 46809
 51002 42972 53251 39634 30740 49191 30124 40027 36236 36235 52058 31901
 38540 50323 48340 31685 38524 47019 46992 32653 38716 35151 39144 35135
 39493 34202 40799 45802 39418 31161 54013 33420 35331 33984 36596 35588
 39419 47116 31026 37888 49294 43130 37421 30953 30969 38086 34452 45392
 52690 50795 32208 39933 39393 44903 44460 38584 38860 37002 30542 47052
 31322 33446 39039 39221 52861 52275 48456 45928 47096 38748 41831 39296
 32785 43355 39976 32436 33884 31882 54143 52791 48337 42101 44201 35205
 47791 34541 37509 36397 35321 45865 43809 45787 40137 40285 37363 39563
 43811 49650 46631 39697 47132 47610 38917 53056 43012 38751 30287 44878
 54062 47342 33232 53069 46525 52912 50952 42225 46914 36845 47116 51316
 36023 45236 37109 47587 49482 32553 53337 38973 48235 35373 30722 49226
 43769 45154 50179 44339 41403 35337 51146 38844]

In [20]:
print("Salary of HR dept : ",hr_sal,"Salary of FINANCE dept : ",fin_sal,"Salary of SALES dept : ",sale_sal,"Salary of IT dept : ",it_sal)

Salary of HR dept :  [33582 35904 36499 39170 36511 32967 38089 42053 43884 29616 41904 36636
 43095 32318 48930 43396 49668 27003 38326 45865 27415 42897 27019 39409
 34705 27738 27694 48407 43477 46945 49800 40607 34070 27671 38903 35219
 39742 29872 42694 29748 39711 48926 38214 47699 49985 42352 34169 34559
 32643 37238 35982 28194 38969 35053 27753 36755 35909 41811 25424 38455
 37590 26297 36799 32458 41687 27107 35406 33054 43690 46980 40271 47490
 30275 39096 38461 37284 37432 29690 44692 31425 48336 25555 46556 27840
 44223 33181 37741 41855 37752 41893 39977 48256 25432 32570 34944 47938
 26229 36159 27430 35006 29690 38560 46557 45349 42110 46071 43314 42348
 30082 45280 39281 29522 46352 49069 48619 29452 37380 36330 48717 35922
 44380 27403 28404 45222 33439 26626 33963 43230 48577 43681 33199 40214
 26248 34929 36267 48197 28885 30104 46125 47249 38550 49913 32382 47752
 34752 48826 34061 42983 38864 30530 37708 38626 49647 31079 45855 33524
 49843 30065 47969 27465 26132 33086 34379 47666 38202 32206 26433 30847
 29538 42021 33897 41903 28342 27942 47007 44326 33896 36728 26102 46792
 42752 38800 35633 41636 30715 37248 37995 29213 37925 43171 49958 40888
 32700 43314 42246 36526 35849 37398 38618 34826 28638 47521 37102 31311
 37782 47883 25639 26616 33834 33063 38300 32434 32547 36157 37827 25004
 27368 40466 43826 43479 37389 29950 48953 42536 43793 31088 48491 32926
 28368 28553 29814 36594 30456 44835 36416 36591 46180 34568 28510 46440
 27592 31848 41807 46465 41842 42171 29529 37918 41540 32495 26284 43731
 36612 31106 35811 34395 35641 34418 47066 31673 42845 42326 41833 48138
 32553 43049 42754 42406 47680 47029 46311 34793 47708 47915 42100 39488
 48717 42253 43655 39240 40807 31296 34965 27923 26021 46593 49117 44998
 26902 48868 38212 46426 43008 35730 48481 29998 30504 41239 37684 48234
 28742 44634 43541 34573 33535 40041 34224 48228 25629 33799 42023 37633
 47549 36623 31942 43935 44720 38861 33065 36608 34109 49417 48056 49142
 46062 25182 44270 40004 47003 26814 28452 40732 42617 36656 37331 41103
 42028 44900 28940 45478 42005 46338 45291 42608 46708 47464 27456 42261
 48634 44651 46869 36123 33965 35789 33238 43501 28585 35729 27297 41528
 35527 37200 35106 28469 33329 28979 47132 33949 35856 40515 42317 38824
 31739 29938 47208 26731 36308 36889 27709 34288 44790 25668 40452 47474
 29694 33528 47929 30696 26832 48145 26618 28150 32611 47866 39637 32736
 30489 33771 35085 43258 25450 40327 44561 32005 46853 25397 36988 46144
 29649 41658 47229 34212 46548 49562 28999 31255 31477 26533 28224 26326
 29251 27541 29759 30589 31065 45664 33347 25991 35129 47596 33431 41804
 46404 43902 41911 42176 45568 38714 37566 42493 36949 35611 44696 48637
 28079 27527 30422 42866 47618 46000 40106 31274 28556 35202 33192 49480
 37126 26012 35161 41465 38202 49661 49533 37087 35520 25299 40888 46421
 25930 45450 38445 25137 46237 27426 48753 27449 46707 40241 48782 26151
 31702 34314 30781 47442 45230 33890 42001 49242 42725 47929 38067 47281
 37478 26795 38337 40569 27834 25625 36630 41009] Salary of FINANCE dept :  [41977.5  44880.   45623.75 48962.5  45638.75 41208.75 47611.25 52566.25
 54855.   37020.   52380.   45795.   53868.75 40397.5  61162.5  54245.
 62085.   33753.75 47907.5  57331.25 34268.75 53621.25 33773.75 49261.25
 43381.25 34672.5  34617.5  60508.75 54346.25 58681.25 62250.   50758.75
 42587.5  34588.75 48628.75 44023.75 49677.5  37340.   53367.5  37185.
 49638.75 61157.5  47767.5  59623.75 62481.25 52940.   42711.25 43198.75
 40803.75 46547.5  44977.5  35242.5  48711.25 43816.25 34691.25 45943.75
 44886.25 52263.75 31780.   48068.75 46987.5  32871.25 45998.75 40572.5
 52108.75 33883.75 44257.5  41317.5  54612.5  58725.   50338.75 59362.5
 37843.75 48870.   48076.25 46605.   46790.   37112.5  55865.   39281.25
 60420.   31943.75 58195.   34800.   55278.75 41476.25 47176.25 52318.75
 47190.   52366.25 49971.25 60320.   31790.   40712.5  43680.   59922.5
 32786.25 45198.75 34287.5  43757.5  37112.5  48200.   58196.25 56686.25
 52637.5  57588.75 54142.5  52935.   37602.5  56600.   49101.25 36902.5
 57940.   61336.25 60773.75 36815.   46725.   45412.5  60896.25 44902.5
 55475.   34253.75 35505.   56527.5  41798.75 33282.5  42453.75 54037.5
 60721.25 54601.25 41498.75 50267.5  32810.   43661.25 45333.75 60246.25
 36106.25 37630.   57656.25 59061.25 48187.5  62391.25 40477.5  59690.
 43440.   61032.5  42576.25 53728.75 48580.   38162.5  47135.   48282.5
 62058.75 38848.75 57318.75 41905.   62303.75 37581.25 59961.25 34331.25
 32665.   41357.5  42973.75 59582.5  47752.5  40257.5  33041.25 38558.75
 36922.5  52526.25 42371.25 52378.75 35427.5  34927.5  58758.75 55407.5
 42370.   45910.   32627.5  58490.   53440.   48500.   44541.25 52045.
 38393.75 46560.   47493.75 36516.25 47406.25 53963.75 62447.5  51110.
 40875.   54142.5  52807.5  45657.5  44811.25 46747.5  48272.5  43532.5
 35797.5  59401.25 46377.5  39138.75 47227.5  59853.75 32048.75 33270.
 42292.5  41328.75 47875.   40542.5  40683.75 45196.25 47283.75 31255.
 34210.   50582.5  54782.5  54348.75 46736.25 37437.5  61191.25 53170.
 54741.25 38860.   60613.75 41157.5  35460.   35691.25 37267.5  45742.5
 38070.   56043.75 45520.   45738.75 57725.   43210.   35637.5  58050.
 34490.   39810.   52258.75 58081.25 52302.5  52713.75 36911.25 47397.5
 51925.   40618.75 32855.   54663.75 45765.   38882.5  44763.75 42993.75
 44551.25 43022.5  58832.5  39591.25 53556.25 52907.5  52291.25 60172.5
 40691.25 53811.25 53442.5  53007.5  59600.   58786.25 57888.75 43491.25
 59635.   59893.75 52625.   49360.   60896.25 52816.25 54568.75 49050.
 51008.75 39120.   43706.25 34903.75 32526.25 58241.25 61396.25 56247.5
 33627.5  61085.   47765.   58032.5  53760.   44662.5  60601.25 37497.5
 38130.   51548.75 47105.   60292.5  35927.5  55792.5  54426.25 43216.25
 41918.75 50051.25 42780.   60285.   32036.25 42248.75 52528.75 47041.25
 59436.25 45778.75 39927.5  54918.75 55900.   48576.25 41331.25 45760.
 42636.25 61771.25 60070.   61427.5  57577.5  31477.5  55337.5  50005.
 58753.75 33517.5  35565.   50915.   53271.25 45820.   46663.75 51378.75
 52535.   56125.   36175.   56847.5  52506.25 57922.5  56613.75 53260.
 58385.   59330.   34320.   52826.25 60792.5  55813.75 58586.25 45153.75
 42456.25 44736.25 41547.5  54376.25 35731.25 44661.25 34121.25 51910.
 44408.75 46500.   43882.5  35586.25 41661.25 36223.75 58915.   42436.25
 44820.   50643.75 52896.25 48530.   39673.75 37422.5  59010.   33413.75
 45385.   46111.25 34636.25 42860.   55987.5  32085.   50565.   59342.5
 37117.5  41910.   59911.25 38370.   33540.   60181.25 33272.5  35187.5
 40763.75 59832.5  49546.25 40920.   38111.25 42213.75 43856.25 54072.5
 31812.5  50408.75 55701.25 40006.25 58566.25 31746.25 46235.   57680.
 37061.25 52072.5  59036.25 42765.   58185.   61952.5  36248.75 39068.75
 39346.25 33166.25 35280.   32907.5  36563.75 34426.25 37198.75 38236.25
 38831.25 57080.   41683.75 32488.75 43911.25 59495.   41788.75 52255.
 58005.   54877.5  52388.75 52720.   56960.   48392.5  46957.5  53116.25
 46186.25 44513.75 55870.   60796.25 35098.75 34408.75 38027.5  53582.5
 59522.5  57500.   50132.5  39092.5  35695.   44002.5  41490.   61850.
 46407.5  32515.   43951.25 51831.25 47752.5  62076.25 61916.25 46358.75
 44400.   31623.75 51110.   58026.25 32412.5  56812.5  48056.25 31421.25
 57796.25 34282.5  60941.25 34311.25 58383.75 50301.25 60977.5  32688.75
 39627.5  42892.5  38476.25 59302.5  56537.5  42362.5  52501.25 61552.5
 53406.25 59911.25 47583.75 59101.25 46847.5  33493.75 47921.25 50711.25
 34792.5  32031.25 45787.5  51261.25] Salary of SALES dept :  [20988.75  22440.    22811.875 24481.25  22819.375 20604.375 23805.625
 26283.125 27427.5   18510.    26190.    22897.5   26934.375 20198.75
 30581.25  27122.5   31042.5   16876.875 23953.75  28665.625 17134.375
 26810.625 16886.875 24630.625 21690.625 17336.25  17308.75  30254.375
 27173.125 29340.625 31125.    25379.375 21293.75  17294.375 24314.375
 22011.875 24838.75  18670.    26683.75  18592.5   24819.375 30578.75
 23883.75  29811.875 31240.625 26470.    21355.625 21599.375 20401.875
 23273.75  22488.75  17621.25  24355.625 21908.125 17345.625 22971.875
 22443.125 26131.875 15890.    24034.375 23493.75  16435.625 22999.375
 20286.25  26054.375 16941.875 22128.75  20658.75  27306.25  29362.5
 25169.375 29681.25  18921.875 24435.    24038.125 23302.5   23395.
 18556.25  27932.5   19640.625 30210.    15971.875 29097.5   17400.
 27639.375 20738.125 23588.125 26159.375 23595.    26183.125 24985.625
 30160.    15895.    20356.25  21840.    29961.25  16393.125 22599.375
 17143.75  21878.75  18556.25  24100.    29098.125 28343.125 26318.75
 28794.375 27071.25  26467.5   18801.25  28300.    24550.625 18451.25
 28970.    30668.125 30386.875 18407.5   23362.5   22706.25  30448.125
 22451.25  27737.5   17126.875 17752.5   28263.75  20899.375 16641.25
 21226.875 27018.75  30360.625 27300.625 20749.375 25133.75  16405.
 21830.625 22666.875 30123.125 18053.125 18815.    28828.125 29530.625
 24093.75  31195.625 20238.75  29845.    21720.    30516.25  21288.125
 26864.375 24290.    19081.25  23567.5   24141.25  31029.375 19424.375
 28659.375 20952.5   31151.875 18790.625 29980.625 17165.625 16332.5
 20678.75  21486.875 29791.25  23876.25  20128.75  16520.625 19279.375
 18461.25  26263.125 21185.625 26189.375 17713.75  17463.75  29379.375
 27703.75  21185.    22955.    16313.75  29245.    26720.    24250.
 22270.625 26022.5   19196.875 23280.    23746.875 18258.125 23703.125
 26981.875 31223.75  25555.    20437.5   27071.25  26403.75  22828.75
 22405.625 23373.75  24136.25  21766.25  17898.75  29700.625 23188.75
 19569.375 23613.75  29926.875 16024.375 16635.    21146.25  20664.375
 23937.5   20271.25  20341.875 22598.125 23641.875 15627.5   17105.
 25291.25  27391.25  27174.375 23368.125 18718.75  30595.625 26585.
 27370.625 19430.    30306.875 20578.75  17730.    17845.625 18633.75
 22871.25  19035.    28021.875 22760.    22869.375 28862.5   21605.
 17818.75  29025.    17245.    19905.    26129.375 29040.625 26151.25
 26356.875 18455.625 23698.75  25962.5   20309.375 16427.5   27331.875
 22882.5   19441.25  22381.875 21496.875 22275.625 21511.25  29416.25
 19795.625 26778.125 26453.75  26145.625 30086.25  20345.625 26905.625
 26721.25  26503.75  29800.    29393.125 28944.375 21745.625 29817.5
 29946.875 26312.5   24680.    30448.125 26408.125 27284.375 24525.
 25504.375 19560.    21853.125 17451.875 16263.125 29120.625 30698.125
 28123.75  16813.75  30542.5   23882.5   29016.25  26880.    22331.25
 30300.625 18748.75  19065.    25774.375 23552.5   30146.25  17963.75
 27896.25  27213.125 21608.125 20959.375 25025.625 21390.    30142.5
 16018.125 21124.375 26264.375 23520.625 29718.125 22889.375 19963.75
 27459.375 27950.    24288.125 20665.625 22880.    21318.125 30885.625
 30035.    30713.75  28788.75  15738.75  27668.75  25002.5   29376.875
 16758.75  17782.5   25457.5   26635.625 22910.    23331.875 25689.375
 26267.5   28062.5   18087.5   28423.75  26253.125 28961.25  28306.875
 26630.    29192.5   29665.    17160.    26413.125 30396.25  27906.875
 29293.125 22576.875 21228.125 22368.125 20773.75  27188.125 17865.625
 22330.625 17060.625 25955.    22204.375 23250.    21941.25  17793.125
 20830.625 18111.875 29457.5   21218.125 22410.    25321.875 26448.125
 24265.    19836.875 18711.25  29505.    16706.875 22692.5   23055.625
 17318.125 21430.    27993.75  16042.5   25282.5   29671.25  18558.75
 20955.    29955.625 19185.    16770.    30090.625 16636.25  17593.75
 20381.875 29916.25  24773.125 20460.    19055.625 21106.875 21928.125
 27036.25  15906.25  25204.375 27850.625 20003.125 29283.125 15873.125
 23117.5   28840.    18530.625 26036.25  29518.125 21382.5   29092.5
 30976.25  18124.375 19534.375 19673.125 16583.125 17640.    16453.75
 18281.875 17213.125 18599.375 19118.125 19415.625 28540.    20841.875
 16244.375 21955.625 29747.5   20894.375 26127.5   29002.5   27438.75
 26194.375 26360.    28480.    24196.25  23478.75  26558.125 23093.125
 22256.875 27935.    30398.125 17549.375 17204.375 19013.75  26791.25
 29761.25  28750.    25066.25  19546.25  17847.5   22001.25  20745.
 30925.    23203.75  16257.5   21975.625 25915.625 23876.25  31038.125
 30958.125 23179.375 22200.    15811.875 25555.    29013.125 16206.25
 28406.25  24028.125 15710.625 28898.125 17141.25  30470.625 17155.625
 29191.875 25150.625 30488.75  16344.375 19813.75  21446.25  19238.125
 29651.25  28268.75  21181.25  26250.625 30776.25  26703.125 29955.625
 23791.875 29550.625 23423.75  16746.875 23960.625 25355.625 17396.25
 16015.625 22893.75  25630.625] Salary of IT dept :  [38582 40904 41499 44170 41511 37967 43089 47053 48884 34616 46904 41636
 48095 37318 53930 48396 54668 32003 43326 50865 32415 47897 32019 44409
 39705 32738 32694 53407 48477 51945 54800 45607 39070 32671 43903 40219
 44742 34872 47694 34748 44711 53926 43214 52699 54985 47352 39169 39559
 37643 42238 40982 33194 43969 40053 32753 41755 40909 46811 30424 43455
 42590 31297 41799 37458 46687 32107 40406 38054 48690 51980 45271 52490
 35275 44096 43461 42284 42432 34690 49692 36425 53336 30555 51556 32840
 49223 38181 42741 46855 42752 46893 44977 53256 30432 37570 39944 52938
 31229 41159 32430 40006 34690 43560 51557 50349 47110 51071 48314 47348
 35082 50280 44281 34522 51352 54069 53619 34452 42380 41330 53717 40922
 49380 32403 33404 50222 38439 31626 38963 48230 53577 48681 38199 45214
 31248 39929 41267 53197 33885 35104 51125 52249 43550 54913 37382 52752
 39752 53826 39061 47983 43864 35530 42708 43626 54647 36079 50855 38524
 54843 35065 52969 32465 31132 38086 39379 52666 43202 37206 31433 35847
 34538 47021 38897 46903 33342 32942 52007 49326 38896 41728 31102 51792
 47752 43800 40633 46636 35715 42248 42995 34213 42925 48171 54958 45888
 37700 48314 47246 41526 40849 42398 43618 39826 33638 52521 42102 36311
 42782 52883 30639 31616 38834 38063 43300 37434 37547 41157 42827 30004
 32368 45466 48826 48479 42389 34950 53953 47536 48793 36088 53491 37926
 33368 33553 34814 41594 35456 49835 41416 41591 51180 39568 33510 51440
 32592 36848 46807 51465 46842 47171 34529 42918 46540 37495 31284 48731
 41612 36106 40811 39395 40641 39418 52066 36673 47845 47326 46833 53138
 37553 48049 47754 47406 52680 52029 51311 39793 52708 52915 47100 44488
 53717 47253 48655 44240 45807 36296 39965 32923 31021 51593 54117 49998
 31902 53868 43212 51426 48008 40730 53481 34998 35504 46239 42684 53234
 33742 49634 48541 39573 38535 45041 39224 53228 30629 38799 47023 42633
 52549 41623 36942 48935 49720 43861 38065 41608 39109 54417 53056 54142
 51062 30182 49270 45004 52003 31814 33452 45732 47617 41656 42331 46103
 47028 49900 33940 50478 47005 51338 50291 47608 51708 52464 32456 47261
 53634 49651 51869 41123 38965 40789 38238 48501 33585 40729 32297 46528
 40527 42200 40106 33469 38329 33979 52132 38949 40856 45515 47317 43824
 36739 34938 52208 31731 41308 41889 32709 39288 49790 30668 45452 52474
 34694 38528 52929 35696 31832 53145 31618 33150 37611 52866 44637 37736
 35489 38771 40085 48258 30450 45327 49561 37005 51853 30397 41988 51144
 34649 46658 52229 39212 51548 54562 33999 36255 36477 31533 33224 31326
 34251 32541 34759 35589 36065 50664 38347 30991 40129 52596 38431 46804
 51404 48902 46911 47176 50568 43714 42566 47493 41949 40611 49696 53637
 33079 32527 35422 47866 52618 51000 45106 36274 33556 40202 38192 54480
 42126 31012 40161 46465 43202 54661 54533 42087 40520 30299 45888 51421
 30930 50450 43445 30137 51237 32426 53753 32449 51707 45241 53782 31151
 36702 39314 35781 52442 50230 38890 47001 54242 47725 52929 43067 52281
 42478 31795 43337 45569 32834 30625 41630 46009]

# Task - 3
In order to manage the total expenses of the company,
the Finance Manager wants to identify the departmentwise total cost to the company. Help the Finance
Manager to accomplish this task. Which department is
costing more to the company?

In [22]:
hr_avg_sal = np.mean(hr_sal)
fin_avg_sal = np.mean(fin_sal)
sale_avg_sal = np.mean(sale_sal)
it_avg_sal = np.mean(it_sal)
print("HR average salary: ",hr_avg_sal,"FINANCE average salary: ",fin_avg_sal,"SALES average salary: ",sale_avg_sal,"IT average salary: ",it_avg_sal)

HR average salary:  37826.108 FINANCE average salary:  47282.635 SALES average salary:  23641.3175 IT average salary:  42826.108

# Task - 4
Help the company list the top 10 highest salaries of each
department. Further, determine the sum of the top 10
highest salaries for each department.

In [26]:
hr_top_ten = np.sort(hr_sal)[::-1]
h_top = hr_top_ten[0:11] 
fin_top_ten = np.sort(fin_sal)[::-1]
f_top = fin_top_ten[0:11]
sale_top_ten = np.sort(sale_sal)[::-1]
sale_top = sale_top_ten[0:11]
it_top_ten = np.sort(it_sal)[::-1]
it_top = it_top_ten[0:11] 
print("HR Top Highest :",h_top)
print("FINANCE Top Highest :",f_top)
print("SALES Top Highest :",sale_top)
print("IT Top Highest :",it_top)
print("SUM of HR Top Highest :",np.sum(h_top))
print("SUM of FINANCE Top Highest :",np.sum(f_top))
print("SUM of SALES Top Highest :",np.sum(sale_top))
print("SUM of IT Top Highest :",np.sum(it_top))

HR Top Highest : [49985 49958 49913 49843 49800 49668 49661 49647 49562 49533 49480]
FINANCE Top Highest : [62481.25 62447.5  62391.25 62303.75 62250.   62085.   62076.25 62058.75
 61952.5  61916.25 61850.  ]
SALES Top Highest : [31240.625 31223.75  31195.625 31151.875 31125.    31042.5   31038.125
 31029.375 30976.25  30958.125 30925.   ]
IT Top Highest : [54985 54958 54913 54843 54800 54668 54661 54647 54562 54533 54480]
SUM of HR Top Highest : 547050
SUM of FINANCE Top Highest : 683812.5
SUM of SALES Top Highest : 341906.25
SUM of IT Top Highest : 602050

# Task - 5
The company has decided to give an increment in the
salary by 10% for all the employees whose annual
salary is more than $45,000.
Help  the company determine the count of the employees
whose annual salary is more than $45,000.

In [36]:
hr_dup = hr_sal
hr_index = np.where(hr_dup>45000)
hr_dup[hr_index] = hr_dup[hr_index] + (0.10*hr_dup[hr_index])
print(hr_dup[hr_index])
print("Count : ",np.size(hr_index))

[59205 60097 55496 58571 56802 60258 59199 57714 60481 56845 57462 58485
 56332 58389 58004 56333 54871 55745 54788 56085 59372 58828 58946 54718
 58777 58317 55810 57170 60394 57779 59078 60072 55484 60309 58041 57675
 56877 56618 60448 57500 57938 59232 58674 55877 56192 56222 56949 58246
 57692 56904 56036 57725 57976 58946 56377 59430 59129 56174 58661 58362
 58355 57533 59793 58147 59461 55734 56873 55027 56068 54802 56515 57431
 58846 56710 57029 57120 57443 57993 58254 57917 56691 55833 57146 56322
 59969 55253 57590 56148 55136 58850 57616 55660 59870 60089 59934 56169
 54994 55946 58990 56514 59026 57404 54728 59582 57993 57209]
Count :  106

# Task - 6
The company decided to increment the salary of sales
employees with an annual salary of less than $ 20,000
by 20%. The company wishes to update the salary
record of these employees.
Help the company accomplish this task. Further, update
these salary records in the main record of the
employees' salaries in the Sales department.

In [43]:
sale_dup = sale_sal
sale_index = np.where(sale_dup<20000)
print(sale_dup[sale_index])
print(sale_sal)
sale_dup[sale_index] = sale_dup[sale_index] + (0.20*sale_dup[sale_index])
print(sale_sal[sale_index])

[20988.75  22440.    22811.875 24481.25  22819.375 20604.375 23805.625
 26283.125 27427.5   22212.    26190.    22897.5   26934.375 20198.75
 30581.25  27122.5   31042.5   20252.25  23953.75  28665.625 20561.25
 26810.625 20264.25  24630.625 21690.625 20803.5   20770.5   30254.375
 27173.125 29340.625 31125.    25379.375 21293.75  20753.25  24314.375
 22011.875 24838.75  22404.    26683.75  22311.    24819.375 30578.75
 23883.75  29811.875 31240.625 26470.    21355.625 21599.375 20401.875
 23273.75  22488.75  21145.5   24355.625 21908.125 20814.75  22971.875
 22443.125 26131.875 22881.6   24034.375 23493.75  23667.3   22999.375
 20286.25  26054.375 20330.25  22128.75  20658.75  27306.25  29362.5
 25169.375 29681.25  22706.25  24435.    24038.125 23302.5   23395.
 22267.5   27932.5   23568.75  30210.    22999.5   29097.5   20880.
 27639.375 20738.125 23588.125 26159.375 23595.    26183.125 24985.625
 30160.    22888.8   20356.25  21840.    29961.25  23606.1   22599.375
 20572.5   21878.75  22267.5   24100.    29098.125 28343.125 26318.75
 28794.375 27071.25  26467.5   22561.5   28300.    24550.625 22141.5
 28970.    30668.125 30386.875 22089.    23362.5   22706.25  30448.125
 22451.25  27737.5   20552.25  21303.    28263.75  20899.375 23963.4
 21226.875 27018.75  30360.625 27300.625 20749.375 25133.75  23623.2
 21830.625 22666.875 30123.125 21663.75  22578.    28828.125 29530.625
 24093.75  31195.625 20238.75  29845.    21720.    30516.25  21288.125
 26864.375 24290.    22897.5   23567.5   24141.25  31029.375 23309.25
 28659.375 20952.5   31151.875 22548.75  29980.625 20598.75  23518.8
 20678.75  21486.875 29791.25  23876.25  20128.75  23789.7   23135.25
 22153.5   26263.125 21185.625 26189.375 21256.5   20956.5   29379.375
 27703.75  21185.    22955.    23491.8   29245.    26720.    24250.
 22270.625 26022.5   23036.25  23280.    23746.875 21909.75  23703.125
 26981.875 31223.75  25555.    20437.5   27071.25  26403.75  22828.75
 22405.625 23373.75  24136.25  21766.25  21478.5   29700.625 23188.75
 23483.25  23613.75  29926.875 23075.1   23954.4   21146.25  20664.375
 23937.5   20271.25  20341.875 22598.125 23641.875 22503.6   20526.
 25291.25  27391.25  27174.375 23368.125 22462.5   30595.625 26585.
 27370.625 23316.    30306.875 20578.75  21276.    21414.75  22360.5
 22871.25  22842.    28021.875 22760.    22869.375 28862.5   21605.
 21382.5   29025.    20694.    23886.    26129.375 29040.625 26151.25
 26356.875 22146.75  23698.75  25962.5   20309.375 23655.6   27331.875
 22882.5   23329.5   22381.875 21496.875 22275.625 21511.25  29416.25
 23754.75  26778.125 26453.75  26145.625 30086.25  20345.625 26905.625
 26721.25  26503.75  29800.    29393.125 28944.375 21745.625 29817.5
 29946.875 26312.5   24680.    30448.125 26408.125 27284.375 24525.
 25504.375 23472.    21853.125 20942.25  23418.9   29120.625 30698.125
 28123.75  20176.5   30542.5   23882.5   29016.25  26880.    22331.25
 30300.625 22498.5   22878.    25774.375 23552.5   30146.25  21556.5
 27896.25  27213.125 21608.125 20959.375 25025.625 21390.    30142.5
 23066.1   21124.375 26264.375 23520.625 29718.125 22889.375 23956.5
 27459.375 27950.    24288.125 20665.625 22880.    21318.125 30885.625
 30035.    30713.75  28788.75  22663.8   27668.75  25002.5   29376.875
 20110.5   21339.    25457.5   26635.625 22910.    23331.875 25689.375
 26267.5   28062.5   21705.    28423.75  26253.125 28961.25  28306.875
 26630.    29192.5   29665.    20592.    26413.125 30396.25  27906.875
 29293.125 22576.875 21228.125 22368.125 20773.75  27188.125 21438.75
 22330.625 20472.75  25955.    22204.375 23250.    21941.25  21351.75
 20830.625 21734.25  29457.5   21218.125 22410.    25321.875 26448.125
 24265.    23804.25  22453.5   29505.    20048.25  22692.5   23055.625
 20781.75  21430.    27993.75  23101.2   25282.5   29671.25  22270.5
 20955.    29955.625 23022.    20124.    30090.625 23956.2   21112.5
 20381.875 29916.25  24773.125 20460.    22866.75  21106.875 21928.125
 27036.25  22905.    25204.375 27850.625 20003.125 29283.125 22857.3
 23117.5   28840.    22236.75  26036.25  29518.125 21382.5   29092.5
 30976.25  21749.25  23441.25  23607.75  23879.7   21168.    23693.4
 21938.25  20655.75  22319.25  22941.75  23298.75  28540.    20841.875
 23391.9   21955.625 29747.5   20894.375 26127.5   29002.5   27438.75
 26194.375 26360.    28480.    24196.25  23478.75  26558.125 23093.125
 22256.875 27935.    30398.125 21059.25  20645.25  22816.5   26791.25
 29761.25  28750.    25066.25  23455.5   21417.    22001.25  20745.
 30925.    23203.75  23410.8   21975.625 25915.625 23876.25  31038.125
 30958.125 23179.375 22200.    22769.1   25555.    29013.125 23337.
 28406.25  24028.125 22623.3   28898.125 20569.5   30470.625 20586.75
 29191.875 25150.625 30488.75  23535.9   23776.5   21446.25  23085.75
 29651.25  28268.75  21181.25  26250.625 30776.25  26703.125 29955.625
 23791.875 29550.625 23423.75  20096.25  23960.625 25355.625 20875.5
 23062.5   22893.75  25630.625]

# Task - 7
After some time, the employees with the employee codes
from 1996 to 2000 resign from their current roles. As per
the policy, the company deletes the data of
such employees after five years. Help the company delete
the data of those employees.
The company hires five new employees and assigns them
the employee codes from 2001 to 2005.
Help the company add the codes of the newly hired
employees to the existing data.

In [69]:
new_sale1=sale
sale_new = np.arange(2001,2006)
ss = np.where(new_sale > 1995)
new_sale1[ss] = sale_new
print(new_sale1)

[1501 1502 1503 1504 1505 1506 1507 1508 1509 1510 1511 1512 1513 1514
 1515 1516 1517 1518 1519 1520 1521 1522 1523 1524 1525 1526 1527 1528
 1529 1530 1531 1532 1533 1534 1535 1536 1537 1538 1539 1540 1541 1542
 1543 1544 1545 1546 1547 1548 1549 1550 1551 1552 1553 1554 1555 1556
 1557 1558 1559 1560 1561 1562 1563 1564 1565 1566 1567 1568 1569 1570
 1571 1572 1573 1574 1575 1576 1577 1578 1579 1580 1581 1582 1583 1584
 1585 1586 1587 1588 1589 1590 1591 1592 1593 1594 1595 1596 1597 1598
 1599 1600 1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 1611 1612
 1613 1614 1615 1616 1617 1618 1619 1620 1621 1622 1623 1624 1625 1626
 1627 1628 1629 1630 1631 1632 1633 1634 1635 1636 1637 1638 1639 1640
 1641 1642 1643 1644 1645 1646 1647 1648 1649 1650 1651 1652 1653 1654
 1655 1656 1657 1658 1659 1660 1661 1662 1663 1664 1665 1666 1667 1668
 1669 1670 1671 1672 1673 1674 1675 1676 1677 1678 1679 1680 1681 1682
 1683 1684 1685 1686 1687 1688 1689 1690 1691 1692 1693 1694 1695 1696
 1697 1698 1699 1700 1701 1702 1703 1704 1705 1706 1707 1708 1709 1710
 1711 1712 1713 1714 1715 1716 1717 1718 1719 1720 1721 1722 1723 1724
 1725 1726 1727 1728 1729 1730 1731 1732 1733 1734 1735 1736 1737 1738
 1739 1740 1741 1742 1743 1744 1745 1746 1747 1748 1749 1750 1751 1752
 1753 1754 1755 1756 1757 1758 1759 1760 1761 1762 1763 1764 1765 1766
 1767 1768 1769 1770 1771 1772 1773 1774 1775 1776 1777 1778 1779 1780
 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791 1792 1793 1794
 1795 1796 1797 1798 1799 1800 1801 1802 1803 1804 1805 1806 1807 1808
 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819 1820 1821 1822
 1823 1824 1825 1826 1827 1828 1829 1830 1831 1832 1833 1834 1835 1836
 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850
 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864
 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878
 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892
 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906
 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920
 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934
 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948
 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962
 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976
 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990
 1991 1992 1993 1994 1995 2001 2002 2003 2004 2005]

# ADDITIONAL QUESTIONS

# Task - 8
The Financial Analyst, David, wishes to know
the percentage by which the total salary of the HR
department's employees is more/less than the total salary
of the sales department's employees in order to manage
the total cost to the employee. Help David to accomplish
this task. Also, calculate the difference between the
average salary of the HR department's employees and the
average salary of the sales department's employees.

In [79]:
hr_tot_sal = np.sum(hr_sal)
sale_tot_sal = np.sum(sale_sal)
hr_mean_sal = np.mean(hr_sal)
sale_mean_sal = np.mean(sale_sal)
#print(hr_tot_sal," ",sale_tot_sal)
percent = (sale_tot_sal/hr_tot_sal)*100
print("HR salary is ",percent," %","More than Sales Salary")
print("Avg of HR Salary - Avg of Sales salaries = ",hr_mean_sal," - ",sale_mean_sal," = ",hr_mean_sal-sale_mean_sal)

HR salary is  61.98778836860692  % More than Sales Salary
Avg of HR Salary - Avg of Sales salaries =  39944.622  -  24760.78775  =  15183.834250000004

# Task - 9
To provide specific type of benefit plan, the company
wishes to know how many employees in the Finance
department are getting the salary in between 50,000 USD
to 55,000 USD. How can you accomplish this task?

In [17]:
import numpy as np
fin_a = np.copy(fin_sal)
ab = np.where(fin_a > 50000)
fin_ab = fin_a[ab]
bc = np.where(fin_ab <= 55000)
fin_bc = fin_ab[bc]
print(fin_bc)

[50762.5  54786.25 51661.25 51123.75 54585.   52250.   54696.25 52317.5
 54581.25 53505.   53847.5  50597.5  53711.25 51078.75 53426.25 54197.5
 50005.   50750.   54415.   54541.25 53175.   51973.75 54160.   53003.75
 51465.   54903.75 54222.5  52586.25 50171.25 54206.25 54306.25 54750.
 52908.75 51188.75 52998.75 52947.5  53402.5  53226.25 50898.75 54822.5
 51403.75 54886.25 50185.   54257.5  51172.5  53947.5  52892.5  53320.
 52595.   54848.75 53528.75 53440.   53110.   52513.75 50236.25 52966.25
 50555.   53878.75 52918.75 52261.25 54175.   52523.75 52490.   51002.5
 52645.   50490.   52565.   54320.   51160.   52620.   54171.25 53488.75
 51081.25 50983.75 52038.75 52665.   53262.5  52927.5  51906.25 52392.5
 52645.   50295.   53233.75 54043.75 50192.5 ]

# Task - 10
The company has stored the employee codes with their
ages in the CSV file. Look at the "Numpy_challenge.CSV"
file which contains the information about the employee
codes and their ages.
How can you read the data from this file and find the
average age of all the employees?

In [30]:
import numpy as np
emp_code = np.genfromtxt('Numpy_challenge.csv', delimiter=',', skip_header=1)
emp_code

array([[ 1., 22.],
       [ 2., 27.],
       [ 3., 31.],
       [ 4., 29.],
       [ 5., 27.],
       [ 6., 26.],
       [ 7., 27.],
       [ 8., 23.],
       [ 9., 27.],
       [10., 32.],
       [11., 28.],
       [12., 27.],
       [13., 22.],
       [14., 27.],
       [15., 35.],
       [16., 33.],
       [17., 28.],
       [18., 22.],
       [19., 25.],
       [20., 27.],
       [21., 37.],
       [22., 27.],
       [23., 24.],
       [24., 27.],
       [25., 28.],
       [26., 26.],
       [27., 27.],
       [28., 27.],
       [29., 29.],
       [30., 49.],
       [31., 26.],
       [32., 32.],
       [33., 26.],
       [34., 24.],
       [35., 24.],
       [36., 23.],
       [37., 28.],
       [38., 28.],
       [39., 22.],
       [40., 26.],
       [41., 32.],
       [42., 35.],
       [43., 33.],
       [44., 31.],
       [45., 30.],
       [46., 36.],
       [47., 22.],
       [48., 23.],
       [49., 32.],
       [50., 34.]])

In [4]:
pwd

'C:\\Users\\Kapil\\Documents\\Practice\\cOURSE3'

In [24]:
import numpy as np
import csv
with open('Numpy_challenge.csv', 'r') as f:
    code = list(csv.reader(f, delimiter=';'))
code = np.array(code[1:])
code

array([['1,22'],
       ['2,27'],
       ['3,31'],
       ['4,29'],
       ['5,27'],
       ['6,26'],
       ['7,27'],
       ['8,23'],
       ['9,27'],
       ['10,32'],
       ['11,28'],
       ['12,27'],
       ['13,22'],
       ['14,27'],
       ['15,35'],
       ['16,33'],
       ['17,28'],
       ['18,22'],
       ['19,25'],
       ['20,27'],
       ['21,37'],
       ['22,27'],
       ['23,24'],
       ['24,27'],
       ['25,28'],
       ['26,26'],
       ['27,27'],
       ['28,27'],
       ['29,29'],
       ['30,49'],
       ['31,26'],
       ['32,32'],
       ['33,26'],
       ['34,24'],
       ['35,24'],
       ['36,23'],
       ['37,28'],
       ['38,28'],
       ['39,22'],
       ['40,26'],
       ['41,32'],
       ['42,35'],
       ['43,33'],
       ['44,31'],
       ['45,30'],
       ['46,36'],
       ['47,22'],
       ['48,23'],
       ['49,32'],
       ['50,34']], dtype='<U5')

# Task - 11
In order to promote employees for a particular position,
the company wishes to know the total number of
employees whose age is more than 25 years. Display all
such employees along with their employee codes.

In [ ]:
d = np.
emp_code[:,0]

# Task - 12
In order to consider employees for a senior executive
position, the company needs to know the total number of
employees whose age is more than 30 years but less than
35 years. Display all such employees, along with their
employee codes.